/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* root settings; 62.5% = 10px*/
html {
    font-size: 62.5%;
}


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/raven-rock-overlook.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.umstead-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/William-Umstead-Park.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.raven-rock-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),
    url(../img/Raven-Rock-State-Park.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-10%, -10%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveInRight 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    animation: moveInLeft 1s ease-out;
    /* letter-spacing: 1px; */
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translate(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}